<ion-header>
  <ion-toolbar>
  	<ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ 'Another Entry' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="list">
      <ion-item>
			  <ion-label>{{ 'Main Category' | translate }}</ion-label>
			  <ion-input type="text" [(ngModel)]="data.main_category_name" readonly></ion-input>
			</ion-item>
			<ion-item>
			  <ion-label>{{ 'Sub Category' | translate }}</ion-label>
			  <ion-input type="text" [(ngModel)]="data.sub_category_name" readonly></ion-input>
			</ion-item>
			<ion-item>
		    <ion-label>{{ 'Select Activity' | translate }}</ion-label>
        <ion-select class="another-activity" [selectedText]="data.inventory_itemList" multiple="true" placeholder="Select up to 3" (ionChange)="changeActivity()" (ionBlur)="changeActivity()" [(ngModel)]="data.inventory_itemList">
		      <ion-select-option *ngFor="let item of activities" [value]="item.name">{{item.name}}</ion-select-option>
		    </ion-select>
		  </ion-item>
		  <ion-item>
		    <ion-label>{{ 'Project' | translate }}</ion-label>
        <ion-select placeholder="Select One" [value]="data.address" [(ngModel)]="data.address">
		      <ion-select-option *ngFor="let item of addressList">{{item.address}}</ion-select-option>
		    </ion-select>
		  </ion-item>
		  <ion-item>
		  	<ion-label>{{ 'Hours' | translate }}</ion-label>
		    <ion-range min="0" max="15" step="0.5" [(ngModel)]="data.inventory_value" color="secondary">
		    </ion-range>
		    {{data.inventory_value}}
		  </ion-item>
		  <ion-item>
			  <ion-label>{{ 'Select Date' | translate }}</ion-label>
			  <ion-datetime [(ngModel)]="data.inventory_purchased" display-format="MM/DD/YYYY" picker-format="MMMM DD YYYY"></ion-datetime>
			</ion-item>
			<ion-item>
			  <ion-label position="fixed">{{ 'Notes' | translate }}</ion-label>
			  <ion-textarea rows="4" cols="20" placeholder="Enter notes..." [(ngModel)]="data.notes"></ion-textarea>
			</ion-item>
			<ion-item>
		    <ion-label>{{ 'Save to Time Sheet' | translate }}</ion-label>
		    <ion-checkbox slot="start" [(ngModel)]="data.savetimesheet"></ion-checkbox>
		  </ion-item>
		  <ion-item *ngIf="data.savetimesheet">
			  <ion-label>{{ 'Start time' | translate }}</ion-label>
			  <ion-datetime [(ngModel)]="data.starttime" display-format="hh:mm A" picker-format="hh:mm A" minuteValues="0,15,30,45"></ion-datetime>
			</ion-item>
			<ion-item *ngIf="data.savetimesheet">
			  <ion-label>{{ 'Finish time' | translate }}</ion-label>
			  <ion-datetime [(ngModel)]="data.finishtime" display-format="hh:mm A" picker-format="hh:mm A" minuteValues="0,15,30,45"></ion-datetime>
			</ion-item>
    	<div *ngIf="isCordova">
				<ion-button class="width-100" (click)="openCamera()">{{ 'Add Photo (up to 3)' | translate }}</ion-button>
			</div>
			<div *ngIf="!isCordova" class="width-100">
				<div>	
					<input type="file" name="file2" id="file2" style="display: none;" (change)="selectFileToUpload($event)" />
					<label class="add-photo" for="file2">{{ 'Add Photo (up to 3)' | translate }}</label>
				</div>
				<div>
					<img *ngFor="let item of imageList" [src]="item.data" />
				</div>
			</div>
			<div>
				<ion-button class="width-100" (click)="doSave()">{{ 'Save and return to menu' | translate }}</ion-button>
			</div>
		  <div>
		    <ion-button (click)="doSaveAndAnother()" class="width-100 button button-positive button-block">
		    	{{ 'Save & Add Another' | translate }}
		    </ion-button>
		  </div>
  </div>
</ion-content>
