<ion-header>
  <ion-toolbar>
  	  <ion-buttons slot="start">
    <ion-button routerLink="/portfolio-list">
      <ion-icon slot="icon-only" name="arrow-round-back"></ion-icon>
    </ion-button>
  </ion-buttons>
    <ion-title>{{'Edit Portfolio' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <div class="list">
    	<ion-item>
			  <ion-label>{{'Name' | translate}}</ion-label>
			  <ion-input type="text" placeholder="{{'Enter Name' | translate}}" [(ngModel)]="data.name"></ion-input>
			</ion-item>
		  <ion-item>
			  <ion-label>{{'Date Created' | translate}}</ion-label>
			  <ion-datetime [(ngModel)]="data.date1" display-format="MM/DD/YYYY" picker-format="MMMM DD YYYY"></ion-datetime>
			</ion-item>
			<ion-item>
			  <ion-label>{{'Notes' | translate}}</ion-label>
			  <ion-textarea rows="4" cols="20" placeholder="Enter notes..." [(ngModel)]="data.notes1"></ion-textarea>
			</ion-item>
    </div>
    <div class="width-100" *ngIf="isCordova">
			<ion-button (click)="openCamera()">
	    	<ion-icon slot="start" name="camera"></ion-icon>
	    	{{'Edit Photo' | translate}}
	    </ion-button>
		</div>
		<div *ngIf="!isCordova" class="width-100">
			<div>	
				<input type="file" name="file" id="file5" class="inputfile" (change)="selectFileToUpload($event)" />
				<label for="file5">{{'Edit Photo' | translate}}</label>
			</div>
			<div>
				<img *ngFor="let item of imageList" [src]="item.data">
			</div>
		</div>
	  <div>
    	<div *ngIf="!inventoryImg && data.image">
	      <img src="https://www.artisanideas.co.nz/itab/database/styled/{{data.image | reverseStr}}">
	    </div>
	    <div *ngIf="inventoryImg">
	      <img src="{{inventoryImg}}">
	    </div>
	  </div>
	  <div class="width-100">
    	<ion-button (click)="doRemove()" color="danger">
    		<ion-icon slot="start" name="trash"></ion-icon>
				{{'Delete' | translate}}
			</ion-button>
		</div>
    <div class="width-100">
	  	<ion-button (click)="doSave()">
	  		{{'Save' | translate}}
	  	</ion-button>
	  </div>
</ion-content>
