<ion-header>
  <ion-toolbar>
  	<ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>CSC Discounts</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content (click)="openUrl('https://artisanideas.co.nz/csc/app-rentice')">
	    <ion-card class="help-card">
      <ion-img src="/assets/csc.png"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Receive great savings through the</ion-card-subtitle>
        <ion-card-title>CSC Buying Group</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p class="p-text">Select the supplier to view the details of the discount you can receive</p>
        <br>
        <p class="p-text">At the point of sale select 'Show Code'</p>

      </ion-card-content>
    </ion-card>
            <p class="p-text">Tap the screen to continue</p>
</ion-content>
