<ion-header>
  <ion-toolbar>
    <ion-title>{{'Unit Standard' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    {{'View_Us_Text1' | translate}}
    <ion-list lines="none">
      <ion-list-header>
      </ion-list-header>
      <ion-item routerLink="/us-entry">
        <ion-icon slot="start" color="medium" name="list-box"></ion-icon>
        <ion-label>Entry 1</ion-label>
      </ion-item>
      <ion-item routerLink="/us-entry">
        <ion-icon slot="start" color="medium" name="list-box"></ion-icon>
        <ion-label>Entry 2</ion-label>
      </ion-item>
      <ion-item routerLink="/us-entry">
        <ion-icon slot="start" color="medium" name="list-box"></ion-icon>
        <ion-label>Entry 3</ion-label>
      </ion-item>
    </ion-list>
</ion-content>
