<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/projects">
        <ion-icon slot="icon-only" name="arrow-round-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{'New Project' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <div class="list">
      <ion-item>
			  <ion-label>{{'Address/Project Name' | translate}}</ion-label>
			  <ion-input type="text" [(ngModel)]="data.address"></ion-input>
			</ion-item>
			<ion-item>
			  <ion-label position="fixed">{{'Notes' | translate}}</ion-label>
        <ion-textarea rows="4" cols="20" placeholder="Enter notes..." [(ngModel)]="data.notes"></ion-textarea>
			</ion-item>
			<ion-item>
			  <ion-label>{{'Start Date' | translate}}</ion-label>
			  <ion-datetime [(ngModel)]="data.date" display-format="MM/DD/YYYY" picker-format="MMMM DD YYYY"></ion-datetime>
			</ion-item>
    </div>
    <ion-button (click)="openCamera()" class="button button-positive button-block icon-left ion-android-camera">{{'Add Photo' | translate}}</ion-button>
    <div *ngIf="projectImg">
      <img src="{{projectImg}}">
    </div>
    <div>
	    <ion-button (click)="doSave()" class="button button-positive button-block">{{'Save' | translate}}</ion-button>
	  </div>
</ion-content>
